<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mie350_group03</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CompanyController</display-name>
    <servlet-name>CompanyController</servlet-name>
    <servlet-class>com.mie.controller.CompanyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyController</servlet-name>
    <url-pattern>/CompanyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mie.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>EventController</display-name>
    <servlet-name>EventController</servlet-name>
    <servlet-class>com.mie.controller.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventController</servlet-name>
    <url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>IndustryController</display-name>
    <servlet-name>IndustryController</servlet-name>
    <servlet-class>com.mie.controller.IndustryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryController</servlet-name>
    <url-pattern>/IndustryController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StartupRepController</display-name>
    <servlet-name>StartupRepController</servlet-name>
    <servlet-class>com.mie.controller.StartupRepController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartupRepController</servlet-name>
    <url-pattern>/StartupRepController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.mie.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.mie.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>FilterController</display-name>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>com.mie.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
    
    <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mie.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>
